%h1= @page.title
#editable{contenteditable: 'true', data: {update_url: page_update_content_url(@page)}}
  = raw @page.content

-#= link_to 'Back', root_path

= link_to 'Edit', edit_page_path(@page)
= link_to 'Destroy', @page, method: :delete, data: { confirm: 'Are you sure?' }