@mixin translate($x, $y)
  -webkit-transform: translate($x, $y)
  -moz-transform: translate($x, $y)
  -ms-transform: translate($x, $y)
  -o-transform: translate($x, $y)
  transform: translate($x, $y)
.formtastic
  .input
    list-style-type: none
    .label
      float: none
      font-size: 14px
      font-weight: normal
      line-height: 20px
      color: #333
      background-color: #FFF
      text-shadow: none

.tool-collapse
  float: right
  cursor: pointer
.pickup
  +translate(0, -66px)
#page_title 
  line-height: 50px
#page_path
  color: #888
  font-size: 16px
#hide_link
  margin-bottom: 10px
.rotate
  -webkit-transform: rotate(180deg)
  -moz-transform: rotate(180deg)
  -ms-transform: rotate(180deg)
  -o-transform: rotate(180deg)
  transform: rotate(180deg)
@media (max-width: 480px)
  #cke_editable
    display: none
  